.first {
  background-color: #362204;
  padding: 3% 15% 9%;
}

.img2 {
  height: 500px;
  width: auto;
  position: absolute;
  left: 0;
  top: 155px;
}

.img1 {
  height: 700px;
  width: 1000px;
  margin-top: 2.2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  z-index: 2;
}

.img3 {
  height: 500px;
  width: 300px;
  position: absolute;
  right: 0;
  top: 390px;
  z-index: 0;
}

/* .hotel-pics {

} */

.facility {
  padding: 50px 50px;
}

.sub {
  color: white;
}

#suites {
  position: relative;
  background-image: url("https://modworkshop.net/mydownloads/previews/preview_28826_1471725210_4a6af48d0f347813e49dd1af4e385d57.jpg");
  display: flow-root;
}

.pricing {
  padding: 9% 8%;
  padding-top: 0;
  position: relative;
}

.pricing-img {
  height: 190px;
  width: 100%;
  z-index: 3;
}

.card-title {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}

.heading-carousel {
  text-shadow: 4px 4px black;
  padding: 0 45%;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  z-index: 68;
}

.card-text {
  margin-bottom: 40px;
}

.pricing .col {
  padding: 4% 5%;
}

.suite {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

.description {
  background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(255, 255, 255, 0));
  /* opacity: 70%; */
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

#features {
  position: relative;
  background-color: #362204;
  padding: 9% 8%;
}

.heading-suites {
  text-shadow: 4px 4px black;
  padding: 0 45%;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  color: white;
  margin-top: 9%;
  margin-bottom: 0;
  text-align: center;
  z-index: 68;
}

.triangle-pricing {
  transform: rotate(40deg);
  position: absolute;
  z-index: 67;
  height: 300px;
  width: auto;
  top: 0px;
  bottom: 513px;
  left: 41%;
  opacity: 0.3;
}

.triangle-pricing:hover {
  opacity: 1;
}

.triangle-border {
  position: absolute;
  z-index: 45;
  height: 360px;
  width: auto;
  top: 4px;
  left: 38.2%;
  opacity: 0.5;
}

.triangle-border:hover {
  opacity: 1;
}

.card {
  text-align: center;
}

h3 {
  font-family: 'Amiri', serif;
  font-weight: bolder;
}

.facilities {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.coat {
  text-align: center;
  color: white;
}

.bat1 {
  height: 100px;
  width: auto;
  position: absolute;
  top: 10px;
  right: 0;
  transform: rotate(45deg);
}

.bat2 {
  height: 100px;
  width: auto;
  position: absolute;
  top: 10px;
  left: 0;
}

.bat3 {
  height: 100px;
  width: auto;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.bat4 {
  height: 100px;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 10px;
  transform: rotate(45deg);
}

.veins1 {
  position: absolute;
  transform: rotate(30deg);
  left: 70px;
  top: 93.275px;
  z-index: 1;
  opacity: 25%;
}

.veins2 {
  position: absolute;
  transform: rotate(30deg);
  left: 505px;
  top: 93.275px;
  z-index: 1;
  opacity: 25%;
}

.veins3 {
  position: absolute;
  transform: rotate(30deg);
  right: 110px;
  top: 93.275px;
  z-index: 1;
  opacity: 25%;
}

.room {
  background-color: #65350F;
  border-color: #65350F;
}

.room:hover {
  background-color: #481F01;
  border-color: brown;
}

.card-body {
  z-index: 2;
}

.white-section {
  background-image: url("https://modworkshop.net/mydownloads/previews/preview_28826_1471725210_4a6af48d0f347813e49dd1af4e385d57.jpg");
  padding: 6% 7% 5%;
  position: relative;
}

.coat h3 {
  color: #fc5656;
}

.pictures {
  border: 7px inset black;
  border-radius: 25%;
}

.carousel-indicators {
  margin-bottom: 5px;
}

.navbar-brand {
  font-family: 'Bree Serif', serif;
  font-size: 2.6rem;
  font-weight: bold;
}

.nav-link {
  font-family: 'Amiri', serif;
  font-size: 1.2rem;
  font-weight: normal;
}

.nav-item {
  margin: 0 11px;
}

#footer {
  text-align: center;
  background-image: url("photos/footerBack.jpg");
  background-position: center;
  background-size: 100% 100%;
  display: flow-root;
}

.heading1 {
  color: #999999;
  margin-top: 40px;
  margin-bottom: 0;
}

.heading2 {
  color: white;
  margin-bottom: 35px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 25%;
  border-color: grey;
  display: block;
}

.col > h3 {
  color: #a8a3a2;
}

.footer3 {
  display: inline;
}

.footer-symbol {
  margin: 20px 10px;
}

.footerImages {
  height: 50px;
  width: auto;
}
